{% extends 'base.html.twig' %}


{% block body %}
<div class="body_container">
    <div class="menu">
        <ul>

            <li><a href={{ path('register') }}>Dodaj użytkownika</a></li>
            <li><a href="{{ path('food.create') }}">Dodaj produkt</a></li>


        </ul>
    </div>
    <div class="box">

<div class="container">
    {{ block ('flashmessage', 'base.html.twig') }}

    <div class="admin_list_orders">
        <table class="table">

            <thead class="thead-dark">
            <tr>
                <th scope="col">Zamówienie</th>
                <th scope="col">Należność</th>
                <th scope="col">Działanie</th>
            </tr>
            </thead>


            <tbody id="table">


            </tbody>

        </table>

        <button class="btn btn-info" id="submit" >Złóż zamówienie</button>
    </div>

            <div class="sidebar">
                <table class="table">

                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Zamówienie</th>
                        <th scope="col">Należność</th>
                        <th scope="col">Działanie</th>
                    </tr>
                    </thead>


                    <tbody id="table">


                    </tbody>

                </table>

                <button class="btn btn-info" id="submit" >Złóż zamówienie</button>
            </div>

            <div class="orders">
                <h2>Twoje dzisiejsze zamówienie</h2><hr/>
                <table class="table">

                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Produkt</th>
                        <th scope="col">Cena</th>

                    </tr>
                    </thead>


                    <tbody id="orders">


                    </tbody>

                </table>

                <div class="buttons">
                    <button class="btn btn-warning" id="edit_btn">Edytuj</button>
                    <button class="btn btn-danger float-right delete_all" id="delete_all" >Usuń</button>
                </div>


            </div>



            <div class="content">


                <section class="food">

                    {% for food in foods %}
                        <div>

                            <img src="{{'/uploads/' ~ food.image}}" class="picture" data-product_id="{{ food.id }}">



                        </div>
                    {% endfor %}

                </section>

            </div>

            <h2>Desery</h2>

            <div class="content">


                <section class="food">

                    {% for dessert in desserts %}
                        <div>

                            <img src="{{'/uploads/' ~ dessert.image}}" class="picture"  data-product_id="{{ dessert.id }}">



                        </div>
                    {% endfor %}

                </section>

            </div>

            <h2>Napoje</h2>
            <div class="content">


                <section class="food">

                    {% for drink in drinks %}
                        <div>

                            <img src="{{'/uploads/' ~ drink.image}}" class="picture" data-product_id="{{ drink.id }}">


                        </div>
                    {% endfor %}

                </section>

            </div>


    {% if is_granted('ROLE_ADMIN') %}


        <div class="users_order">
            <h2>Dzisiejsze zamówienia:</h2><hr/>

                <table class="table">

                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Użytkownik</th>
                        <th scope="col">Produkty</th>
                        <th scope="col">Cena</th>
                        <th scope="col">Status</th>

                    </tr>
                    </thead>

                    <tbody id="user_orders">

                    </tbody>

                </table>

                <div class="buttons">

                </div>
        </div>

    {% endif %}

            </div>
    </div>
</div>

    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}

{% endblock %}