{% extends 'base.html.twig' %}


{% block body %}



<div class="container">
    {{ block ('flashmessage', 'base.html.twig') }}
        {%  block menu %}

            <div class="foodcard">

                    <div class="description">
                        {% if orders %}
                        <h2>Dzisiejsze zamówienie</h2><hr/>

                            <table class="table">

                                <thead class="thead-dark">
                                <tr>
                                <th scope="col">Zamówienie</th>
                                <th scope="col">Należność</th>
                                <th scope="col">Działanie</th>
                                </tr>
                                </thead>


                                <tbody>

                                {%  for order in orders %}
                                <tr>
                                    <td>{{ order.food }}</td>
                                    <td>{{ order.cost }} zł</td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-secondary btn-sm dropdown-toggle m-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Wybierz
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="{{ path('order.details', {id: order.id}) }}">Szczegóły</a>
                                                <a class="dropdown-item" href="{{ path('order.details', {id: order.id}) }}">Edytuj</a>
                                                <a class="dropdown-item" href="{{ path('order.delete', {id: order.id}) }}">Usuń</a>

                                            </div>
                                        </div>

                                    </td>
                                </tr>
                                </tbody>


                        {% endfor %}
                            </table>
                        {% else %}


                        {% endif %}
                    </div>

            </div>


            <div class="content">


                <section class="food">

                    {% for food in foods %}
                        <div>

                            <img src="{{'/uploads/' ~ food.image}}" class="picture" data-product_id="{{ food.id }}">



                        </div>
                    {% endfor %}

                </section>

            </div>

            <h2>Desery</h2>

            <div class="content">


                <section class="food">

                    {% for dessert in desserts %}
                        <div>

                            <img src="{{'/uploads/' ~ dessert.image}}" class="picture"  data-product_id="{{ dessert.id }}">



                        </div>
                    {% endfor %}

                </section>

            </div>

            <h2>Napoje</h2>
            <div class="content">


                <section class="food">

                    {% for drink in drinks %}
                        <div>

                            <img src="{{'/uploads/' ~ drink.image}}" class="picture" data-product_id="{{ drink.id }}">


                        </div>
                    {% endfor %}

                </section>

            </div>

    <table class="table">

        <thead class="thead-dark">
        <tr>
            <th scope="col">Zamówienie</th>
            <th scope="col">Należność</th>
            <th scope="col">Działanie</th>
        </tr>
        </thead>


        <tbody id="table">
        <td>

        </td>

        </tbody>
    </table>

            <div class="row">
                <div class="col-12 col-xl-6">
                    <div class="card"><a href="{{ path('order.order') }}"><img src="{{ asset('build/plus.png') }}" alt="dodaj"></a>Dodaj zamówienie</div>

                </div>
                <div class="col-12 col-xl-6">
                    <div class="card" id="h"><a href="{{ path('food.create') }}">Dodaj produkt</a></div>
                </div>
                <div class="col-12 col-xl-6">
                    <div class="card"id="s"><a href={{ path('register') }}>Dodaj użytkownika</a></div>
                </div>
            </div>
                {% endblock %}
            </div>


{% endblock %}