{% extends 'base.html.twig' %}


{% block body %}

<div class="body_container">


{#    {% for locale in ['en', 'fr','pl'] %}#}

{#        <li>#}
{#            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale' : locale})) }}">#}
{#                {% if locale == 'en' %}#}
{#                       <img title="English" src="{{ asset('bundles/fkmywebsite/images/UnitedStates.png') }}" alt="English" height="30" width="30"/>#}
{#                   {% elseif locale == 'pl' %}#}
{#                    <img title="Polish" src="{{ asset('bundles/fkmywebsite/images/France.png') }}" alt="Polish" height="30" width="30"/>#}
{#                {% endif %}#}
{#            </a>#}
{#        </li>#}

{#    {% endfor %}#}

    <div class="row">
        <div class="col-12 col-lg-4">
            <div class="sidebar">

                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Zamówienie</th>
                            <th scope="col">Należność</th>
                            <th scope="col">Działanie</th>
                        </tr>
                    </thead>

                    <tbody id="table">
                    </tbody>
                    <tbody>
                        <tr>
                            <td>W sumie</td>
                            <td id="total_price"></td>
                        </tr>
                    </tbody>
                </table>

                <button class="btn btn-info" id="submit" >Złóż zamówienie</button>
            </div>

            <div class="orders">

                <h2>Twoje dzisiejsze zamówienie</h2><hr/>

                <table class="table table-striped" id="orders_table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Produkt</th>
                            <th scope="col">Cena</th>
                        </tr>
                    </thead>

                    <tbody id="orders">
                    </tbody>
                </table>

                <div class="buttons">
                    <button class="btn btn-warning" id="edit_btn">Edytuj</button>
                    <button class="btn btn-danger float-right delete_all" id="delete_all" >Usuń</button>
                </div>
            </div>

        </div>
        <div class="col-12 col-lg-8">

    <div class="container">

        {{ block ('flashmessage', 'base.html.twig') }}

        {% if is_granted('ROLE_ADMIN') %}


            <div class="users_order">
                <h2>Dzisiejsze zamówienia:</h2><hr/>

                <table class="table table-striped " id="admin_order_table">
                    <thead class="thead-dark ">
                        <tr>
                            <th scope="col" >Użytkownik</th>
                            <th scope="col">Produkty</th>
                            <th scope="col">Cena</th>
                            <th scope="col">Firma</th>
                            <th scope="col">Status</th>
                            <th scope="col">Zmień</th>
                        </tr>
                    </thead>
                    <tbody id="user_orders">
                    </tbody>
                </table>

                <div class="buttons">
                </div>

            </div>
        {% endif %}

        <div class="add_company">
            <h2>Dodaj firmę</h2>
{#            <div class="input_fields">#}
                <label for="company_name">Nazwa firmy:</label>
                    <input class="form-control" id="company_name" type="text" placeholder="Wprowadź firmę">
                </label>
                <label for="company_phone">Nr telefonu:</label>
                    <input class="form-control " id="company_phone" type="text" placeholder="Wprowadź nr telefonu">
                </label>
{#            </div>#}
            <div>
              <button class="btn btn-success pull-right" id="btn_add_company">Dodaj</button>
            </div>
        </div>





        <div class="food_container">
            <div class="category">
                <div class="row">

                    {% for company in companies %}
                        <div class="col-6 col-sm-4 col-xl-3">
                            <button class=" btn btn-dark category_card" id="{{ company.name }}">{{ company.name }}</button>
                        </div>
                    {% endfor %}

                </div>
            </div>
            <div class="subcategory">
                <div class="row">

                    {% for category in categories %}
                        <div class="col-6 col-sm-4 col-xl-3">
                            <button class=" btn btn-info subcategory_card" id="{{ category.name}}">{{ category.name }}</button>
                        </div>
                    {% endfor %}

                </div>
            </div>


            <div class="searchbox">
                <div class="row">
                <div class="col-6">
                <span id="value">Wyszukaj produkt</span>

                <input id="searchbox"type="text" placeholder="wprowadź nazwę">
                </div>
                    <div class="col-6">

                            <div id="searchedfood">
                            </div>

                            <div class="describe">
                                <span class="name"></span><br/>
                                <span class="price"></span>
                            </div>
                    </div>
                </div>
            </div>
            <span id="cat_description"></span>
            <div class = "row">
                <div class="col">

                    <div class="content" id="dania">
                        <h2 id="company_label"></h2>
                    </div>
                </div>
            </div>
        </div>
</div>

    {% block javascripts %}
         {{ encore_entry_script_tags('app') }}
    {% endblock %}

{% endblock %}